.customer-heading-main {
  /* background-color: red; */
  padding: 0rem 3.8rem;
  width: 78vw;
  margin-top: 3rem;
}
.customer-btn {
  width: 6rem;
  padding: 0.5rem;
  /* height: 2rem; */
  background-color: #f1f1f1;
  /* border: 1px solid black !important; */
  cursor: pointer;
  color: #424242 !important;
  border: none;
  font-family: "Trap";
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
.customer-list-heading {
  background-color: #fff;
  /* background-color: #c12b2b; */
  padding: 0rem 1rem;
  border-bottom: 1px solid #dbe3ee;
  align-items: center;
  /* width: 77vw; */
  display: flex;
  justify-content: space-between;
}
.customer-para {
  color: #2c2c2c;
  font-family: "Trap";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 150%;
}
.customer-list-table {
  margin: auto;
  display: flex;
  width: 78vw;
  border-top: 1px solid #dbe3ee;
}
.table-btn1 {
  background: #2570e0;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}
.table-btn2 {
  background: #c12b2b;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.customer-table-heading {
  height: 4rem;
  border: none;
  border-bottom: 1px solid #dbe3ee;
  display: flex;
  justify-content: space-between;
  background-color: red;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 78vw;
  border: none;
}


td {
  padding: 16px;
  font-family: "Outfit";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

th {
  padding: 16px;
  font-family: 'Trap';
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #fafafa;
}
tr:nth-child(odd) {
  background-color: #fff;
}
