.background {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: relative;
  height: 5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.outer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3484ed;
  background: #3484ed;
  border-radius: 20px;
  width: 15rem;
  gap: 12px;
  color: white;
  right: 15rem;
  height: 2.5rem;
}

.charges {
  font-family: "Outfit";
  font-size: 15px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
}
.Inner {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 9px;
  right: 2rem;
  align-items: center;
  margin-top: 1rem;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1px;
  letter-spacing: -0.04em;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1px;
  letter-spacing: 0em;
  text-align: left;
}
